footer.footer
  .footer__content
    .copyright
      p.copyright__text &copy; Организатор &mdash;
      a.copyright__link(href="#") Журнал &laquo;Главбух&raquo;
    .feedback
      a.feedback__link(href="#") Обратная связь
      a.feedback__icon(href="#")
        img(src=require("../../img/icons/feedback.png") alt="feedback")