header.header
  .header__content  
    a(href="").header__logo
      img(src=require("../../img/logo/logo.png"), alt="logo").logo-pic
    .socials
      ul.socials__list
        li.socials__item
          a.socials__link(href="#")
            img(src=require("../../img/icons/classmates.png"), alt="classmates").socials__img
        li.socials__item.socials__item_fb
          a.socials__link(href="#")
            img(src=require("../../img/icons/fb.png"), alt="fb").socials__img
        li.socials__item.socials__item_tw
          a.socials__link(href="#")
            img(src=require("../../img/icons/vk.png"), alt="vk").socials__img  
