header{
    min-height: 80px;
    background: url('../../img/background/header_bg.jpg');
    background-size: contain;
    // background: linear-gradient(to right, #d7d7d7, #fff);
    //  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7d7d7, color-stop(50%,#fff), color-stop(100%,#d7d7d7)));
    
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    padding-top: 25px;
}

.socials__list{
    width: 120px;
    display: flex;
    justify-content: space-between;
}

.socials__item{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #dd4e4c;
}

